[submodule "文字轉語音 Text-to-Speech"]
	path = 文字轉語音 Text-to-Speech
	url = https://github.com/libre-knowledge/text-to-speech.git
	ignore = dirty
[submodule "主題範本 Subject template"]
	path = 主題範本 Subject template
	url = https://github.com/libre-knowledge/subject-template.git
	ignore = dirty
[submodule "專案管理 Project management"]
	path = 專案管理 Project management
	url = https://github.com/libre-knowledge/project-management.git
	ignore = dirty
[submodule "名稱解析 Name resolution"]
	path = 名稱解析 Name resolution
	url = https://github.com/libre-knowledge/name-resolution.git
	ignore = dirty
[submodule "檔案傳輸與同步 File Transmission and Synchronization"]
	path = 檔案傳輸與同步 File Transmission and Synchronization
	url = https://github.com/libre-knowledge/file-transmission-and-synchronization.git
	ignore = dirty
[submodule "持續整合 Continuous Integration(CI)"]
	path = 持續整合 Continuous Integration(CI)
	url = https://github.com/libre-knowledge/continuous-integration.git
	ignore = dirty
[submodule "自動化 Automation"]
	path = 自動化 Automation
	url = https://github.com/libre-knowledge/automation.git
	ignore = dirty
[submodule "程式語言 Programming languages"]
	path = 程式語言 Programming languages
	url = https://github.com/libre-knowledge/programming-languages.git
	ignore = dirty
[submodule "版本控制 Version control"]
	path = 版本控制 Version control
	url = https://github.com/libre-knowledge/version-control.git
	ignore = dirty
